<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="EditForm">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Article Title" formControlName="title">
              <div *ngIf="EditForm.get('title').invalid && (EditForm.get('title').dirty || EditForm.get('title').touched)" class="alert alert-danger">123</div>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="What's this article about?" formControlName="subtitle">
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)" formControlName="detail"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="Enter tags" formControlName="tag">
              <div class="tag-list"></div>
            </fieldset>
            <button type="submit" class="btn btn-lg pull-xs-right btn-primary" [disabled]="!EditForm.valid">
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
