<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <form (ngSubmit)="GoSumbit()" #realform="ngForm">
          <fieldset>
            <fieldset class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Article Title" [(ngModel)]="model.title" id="title" name="title" required>
                <div *ngIf="realform.form.get('title')?.invalid" class="alert alert-danger">123</div>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="What's this article about?" [(ngModel)]="model.subtitle" id="subtitle" name="subtitle" required>
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)" [(ngModel)]="model.detail" id="detail" name="detail" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Enter tags" [(ngModel)]="model.tag" id="tag" name="tag"><div class="tag-list"></div>
            </fieldset>
            <button type="submit" class="btn btn-lg pull-xs-right btn-primary" [disabled]="!realform.form.valid">
                Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
